<div class="list-container">
  <h2>Providers</h2>
  <mat-tab-group>
    <mat-tab aria-label="Unselected" label="Unselected">
      <div class="provider-list" *ngFor="let provider of unselectedProviders">
        <app-provider-card
          [provider]="provider"
          [selected]="false"
          (providerCardSelect)="handleSelect($event)"
        ></app-provider-card>
      </div>
    </mat-tab>
    <mat-tab aria-label="Selected" label="Selected">
      <div class="provider-list" *ngFor="let provider of selectedProviders">
        <app-provider-card
          [provider]="provider"
          [selected]="true"
          (providerCardUnselect)="handleUnselect($event)"
        ></app-provider-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
